{% extends 'tutor/base.html' %}{%load static%}{%block content%}
<style>
  input {
    transform: rotateZ(0deg);
    transition: all 1s ease;
  }
  input:hover {
    margin-left: 2%;
    border-radius: 0px 120px 120px 0px;
  }
  @media (max-width: 768px) {
    .prof{
      width: 100%;
    }
  }
</style>
<div class="editp">
  <div class="head bg-dark text-white">
    <h2><span style="float: right">Edit Profile</span></h2>
  </div>
  <div class="container shadow prof">
    <form method="post">
      {%csrf_token%}
      <label> Username:</label>
      {{form.username}}<br />
      <label> Email:</label>
      {{form.email}}<br />
    <b style="display: none;"> <label> password:</label>
      {{form.password}}<br /></b> 
      <label>First Name:</label>
      {{form.first_name}}<br />
      <label>Last Name:</label>
      {{form.last_name}}<br />
      
      <br />
      <button style="float: right; width: 100px" class="btn btn-dark">
        Save
      </button>
    </form>
  </div>
</div>
{%endblock content%}
