{% extends 'all/base.html' %}{%load static%}{%block body%}
<style>


  .prof {
      
        width: 100%;
        padding: 30px 110px ;

      }
      .prof form {
        display: flex;
        flex-direction: column;
      }
        .prof label {
    font-weight: 500;
    color: #000;
      }
      .prof input {
        height: 40px;
        width: 60%;
        border: solid 1px grey;
        padding-left: 10px;
      }
      .head{
        padding-left: 110px;
      }
</style>
<br>
<div class="editp">
  <div class="head ">
    <h3><span >Edit Profile</span></h3>
  </div>
  <div class=" shadow prof">
    <form method="post">
      {%csrf_token%}
      <label> Username:</label>
      {{form.username}}<br />
      <label> Email:</label>
      {{form.email}}<br />
      <label>First Name:</label>
      {{form.first_name}}<br />
      <label>Last Name:</label>
      {{form.last_name}}<br />
     
      <button style="float: right; width: 100px" class="btn btn-dark">
        Save
      </button>
    </form>
  </div>
</div>
{%endblock body%}
